.droplet{
  box-shadow: 0 0 3vh rgba(0,0,0,.4);
  border-radius: 1vh;
  list-style: none;
  padding: 1vh 3vw;
  margin: 1vh 1vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.droplet .header{
  display:flex;
  flex-direction: row;
  height:6vh;
  margin: 1vh 0 1.5vh;
}

.droplet .header button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 5vh;
  margin: -4vh -2vh 0 1vh;
  color: rgb(100,100,100);
  outline: none;
  cursor:pointer;
}

.droplet.off{
  filter: grayscale(10);
}

.droplet.archive{
  filter: grayscale(10);
  background:rgb(200,200,200);
  opacity:.5;
}

.droplet.new{
  background:rgba(0,105,255,.2);
}

.droplet img{
  height:100%;
}

.droplet .name{
  margin:0 1.4vw;
}

.droplet h3 {
  margin:0;
  padding:0;
  font-size: 4vh;
}

.droplet .ip{
  font-size: 2vh;
  color:rgb(100,100,100);
  padding:0;
  margin:0;
}

.droplet table{
  width: 100%;
}

.droplet thead{
  font-weight:bold;
  border-bottom:1px solid rgb(100,100,100);
}

.droplet thead tr{
  border-bottom:1px solid rgb(100,100,100);
}

.droplet tbody td{
  padding-right:1vh;
}

.droplet ul{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.droplet li {
  list-style:none;
  padding: 1vh .4vw;
  margin:0;
}

.droplet .monthly{
  font-size: 2.5vh;
}

.droplet .hourly{
  font-size: 1.6vh;
  padding-top:1.8vh;
}

.droplet .menu{
  background: rgba(255,255,255,.8);
}
