header{
  height:5vh;
  overflow:hidden;

  display:flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

header p{
  margin: 0;
  padding: 2.5vh 2vw;
  font-size: 2vh;
}

.user-avatar{
  height:100%;
  margin-left:2vw;
}
